/* styles for report component */

//import base styles scss
@import '../scss/_theme.scss';

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 500px) {
        padding-top: 3rem;
    }
}

main {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: $background-colour;

    h1 {
        margin: 1rem 0 1rem 0;
    }

    h2 {
        margin-bottom: .5rem;
    }

    .button {
        &:hover {
            color: $button-hover-colour;
        }
    }

    form {
        margin: 1rem 0 1rem 0;
        width: 300px;

        label, input, select, button, textarea {
            font-family: $base-font;
            width: 100%;
            padding: 0.5rem;
            color: $base-text-colour;
            border-radius: 5px;
        }

        input, select, button, textarea {
            margin-bottom: 1rem;
            border: 1px solid $base-text-colour; 
        }

        input, select, textarea {
            background-color: $form-control-background-colour;
            font-size: 0.75rem; 
        }

        select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched { //.ng-dirty
            border-color: $form-control-invalid-colour;
        }

        label {
            display: block;
            text-align: left;
            padding-bottom: 0.25rem;
        }

        select {
            height: 35px;
        }
            
        button {
            font-size: 1rem; 
            margin-top: 1.5rem;
            font-family: $base-header-font;
            width: 50%;
            background-color: $base-text-colour;
            color: $form-control-background-colour;
            letter-spacing: 1px;

            &:hover {
                background-color: $button-hover-colour;
            }
        }

        /*.ng-invalid {
            border-color: $form-control-invalid-colour;
        }*/
    }
}



