<main class="encounters-list">
  <h1>Alien Encounters</h1>

  <div class="menu">
    <h2 class="button" (click)="onClickMainMenu($event)">Main Menu</h2>
    <h2 class="button" (click)="onClickReportEncounter($event)">Report Encounter</h2>
  </div>

  <div *ngIf="loading === true" class="loader"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>

  <ul class="encounter-list">
    <li *ngFor="let e of marsEncounters">
      <div class="li-top-row">
        <div>
          <span>Date: </span>{{ e.date }}
        </div>
        <div>
          <span>Type: </span>{{ e.atype }}
        </div>
      </div>
      <div class="li-bottom-row">
        <span>Action: </span>{{ e.action }}
      </div>
    </li>
  </ul>
</main>
