/* styles for colonist list */

// variables
$background-colour: #aa98a9;
$base-text-colour: #784040;

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 500px;
    background-color: $background-colour;

    h1 {
        margin: 1rem 0 1rem 0;
    }

    h2 {
        letter-spacing: 1px;
    }

    .button {
        margin-bottom: 1rem;
    }

    li {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0.5rem 0;
        border-bottom: 1px solid $base-text-colour;

        display: flex;
        justify-content: space-between;
    }

    li:last-child {
        border: none;
        padding-bottom: 0;
    }

    //li div:first-child {
        //padding-bottom: 0.25rem;
    //}

    li span {
        font-weight: bold;
    }
}