// variables
$base-header-font: 'Distant_Galaxy', sans-serif;
$base-font: 'Aaargh', sans-serif;
$base-font-size: 16px;
$mobile-background-color: #aa98a9;
$base-background-colour: #aa98a9;
$base-text-colour: #784040;
$background-colour: rosybrown;
$button-hover-colour: #8B5742;
$form-control-background-colour: lightgray;
$form-control-invalid-colour: red;