/* styles for main menu component */

// variables
$background-colour: rosybrown;

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 500px) {
        padding-top: 3rem;
    }
}

main {
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    background-color: $background-colour;

    h1 {
        margin: 1rem 0 1rem 0;
    }

    h2 {
        margin-bottom: 1rem;
        letter-spacing: 1px;
    }

    .button {
        &:hover {
            color: #8B5742;
        }
    }
}