/* styles for main menu component */

// import base scss styles
@import '../scss/_theme.scss';

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 500px) {
        padding-top: 3rem;
    }
}

main {
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    background-color: $background-colour;

    h1 {
        letter-spacing: 1px;
        font-size: 1.25rem;
    }

    h2 {
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
    }

    h3 {
        font-size:1rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
    }

    .button {
        &:hover {
            color: $button-hover-colour;
        }
    }
}