<!--<h1>
  {{title}} {{description}}
  <app-list-test>Loading list...</app-list-test>
</h1>-->

<!-- testing purposes -->
<h1>Angular Router</h1>
  <nav>
    <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/menu" routerLinkActive="active">Menu</a>
    <a routerLink="/encounters" routerLinkActive="active">Encounters</a>
    <a routerLink="/report" routerLinkActive="active">Report</a>
    <a routerLink="/colonists" routerLinkActive="active">Colonists</a>
    <a routerLink="/commanders-blog" routerLinkActive="active">Commanders Blog</a>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
<!-- testing purposes -->


