//fonts
@font-face {
    font-family: 'Distant_Galaxy';
    src: url('./assets/fonts/distgrg_-webfont.eot');
    src: url('./assets/fonts/distgrg_-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/distgrg_-webfont.woff2') format('woff2'),
         url('./assets/fonts/distgrg_-webfont.woff') format('woff'),
         url('./assets/fonts/distgrg_-webfont.ttf') format('truetype'),
         url('./assets/fonts/distgrg_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Aaargh';
    src: url('./assets/fonts/aaargh-webfont.eot');
    src: url('./assets/fonts/aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/aaargh-webfont.woff2') format('woff2'),
         url('./assets/fonts/aaargh-webfont.woff') format('woff'),
         url('./assets/fonts/aaargh-webfont.ttf') format('truetype'),
         url('./assets/fonts/aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}


//variables
$base-header-font: 'Distant_Galaxy', sans-serif;
$base-font: 'Aaargh', sans-serif;
$base-font-size: 16px;
$mobile-background-color: #aa98a9;
$base-background-colour: rosybrown;
$base-text-colour: #784040;

//main styles
body {
  box-sizing: border-box;
  font-family: $base-font;
  font-size: $base-font-size;
  background-color: $base-background-colour;
  //background-color: $mobile-background-color;
  text-align: center;
  color: $base-text-colour;
  line-height: 1;

  h1 {
    font-size: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-header-font;
}

footer {
    margin: 1rem 0;
    font-size: 0.75rem;
}

//.app-container {
  /*height: 100vh;*/
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //margin: 0 auto;
//}