/*styles for welcome component */
//variables
$background-colour: rosybrown;

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 500px) {
        height: 95vh;
        align-items: center;
    }
}

main {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    max-width: 500px;

    .welcome-image {
        flex: 1 0 100%;
        background: url('../assets/images/solitary_martian.gif') center center no-repeat;

        height: 500px;
        width: 500px;
    }

    section {
        flex: 1 0 100%;
        background-color: $background-colour;
        padding: 2rem 0;

        p {
            padding: 1rem 0 1.2rem 0;
        }

        .button {
            &:hover {
                color: #8B5742;
            }
        }
    }
}




