/* styles for commander's blog */

// variables
$background-colour: rosybrown;
$base-text-colour: #784040;

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 500px) {
        padding-top: 3rem;
    }
}

main {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 500px;

    @media (min-width: 768px) {
        width: 650px;
    }
    @media (min-width: 1240px) {
        width: 1000px;
    }

    background-color: $background-colour;

    h1 {
        margin: 1rem 0 1rem 0;
    }

    h2 {
        letter-spacing: 1px;
    }

    li {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem 0;
        border-bottom: 1px solid $base-text-colour;
    }

    li h2 {
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }

    .blog-text {
        text-align: left;
        padding-bottom: .25rem;
    }

    li:last-child {
        border: none;
        padding-bottom: 0;
        margin-bottom: 2rem;
    }
}