<main class="register-form">
 
  <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit($event)">
    <h1>Registration Form</h1>

    <label for="name">Your Name</label>
    <input type="text" id="name" placeholder="Enter Name" formControlName="name">

    <label for="age">Your Age</label>
    <input type="number" id="age" placeholder="Enter Age" formControlName="age" >

    <label for="job">Your Job</label>
    <select id="job" formControlName="job_id">
      <option [value]="NO_JOB_SELECTED">Select a job...</option>
      <option *ngFor="let job of marsJobs" [value]="job.id">{{ job.name }} - {{ job.id }}</option>
    </select>

    <button type="">Register</button>
  </form> 

</main>



<!-- [disabled]="jobSelected" || registerForm.invalid -->