/*styles for register component */

label, input, select, button {
    width: 100%;
    display: block;
}

h1, input, select, button {
    margin-bottom: 1rem;
}

.ng-invalid {
    border-color: red;
}